.pagina{
    background-color: beige;
}

.titulo {
    text-align: center;
}

.productos-cont{
    margin-left: 10%;
    
}


.productos {
    border: solid 1px white;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }

.img {
    width: 50%;
}
